<div ng-controller="updataAccCtrl">
     <section class="main_right">
     
                <h2><p>产品信息</p></h2>
                <div ng-controller="AccController" class="my-controller">
                <div class="main_select clearfix" >
                 
                        <div class="form-group col-md-6">
                            <label for="bluetoothID" class="col-md-4 control-label">产品ID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="bluetoothID" placeholder="产品ID" ng-model="accreditSearch.id">
                            </div>
                        </div>
                
                        <div class="form-group col-md-6">
                            <label for="staffName" class="col-md-4 control-label">产品名</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="staffName" placeholder="产品名" ng-model="accreditSearch.pname">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="staffDepartment" class="col-md-4 control-label">产品说明</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="staffDepartment" placeholder="产品说明" ng-model="accreditSearch.pintroduce">
                            </div>
                        </div>
                       <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" style="display: none;">
                  
                    <div class="col-md-12 add-btn-box">
                     <a class="btn btn-success" ui-sref="main.add_accredit"><i class="icon-plus"></i>&nbsp;添加</a>
					<a class="btn btn-danger"  href="javascript:void(0)" ng-click="upjiechu()"><i class="icon-trash"></i>&nbsp;全部解除</a>
                    </div>
                </div>
                <table cellpadding="0" cellspacing="0" class="list-table" ng-controller="checkAllCtrl">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" name="" ng-model="master" ng-change="isSelectAll()">
                            </th>
                            <th>产品ID</th>
                            <th>产品名称</th>
                            <th>是否热门</th>
                            <th>浏览次数</th>
                         <!--    <th>上传图片</th> -->
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        	<tr dir-paginate="ad in accredits | filter:accreditSearch | itemsPerPage: pageSize" current-page="currentPage">
                            <td>
                                <input type="checkbox" ng-model="ad.selected" ng-change="isLabelChecked()">
                            </td>
                            <td>{{ad.id}}</td>
                            <td>{{ad.pname}}</td>
						<td ng-if="ad.hots ==1">是</td>
						<td ng-if="ad.hots ==2">否</td>
						<td >{{ad.count}}</td>
						<!-- <td  ng-controller="MyCtrl">
						<a href="javascript:;" name="file"
						class="btn btn-success upload-box"
						style="float: left; margin-left: 10px;"> <input type="file"
							class="upload-file" ngf-select="uploadimg1($file,ad.id)"> <span
							ng-hide="d.progress >= 0"> 上传 </span> <span
							ng-show="d.progress >= 0"> 繼續上传 </span>
					</a></td> -->
						<td>	
                            <a href="javascript:void(0)" ng-click="updateAccInfo()">修改</a>
                             <a href="javascript:void(0)" ng-click="deleteAccInfo()">刪除</a>
                        </tr>
                        {{message}}
                    </tbody>
                </table>
                </div>
             <div ng-controller="OtherController" class="other-controller">
				<div class="text-center">
					<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="pages/pagination.html"></dir-pagination-controls>
				</div>
			</div> 
            </section>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="myModal" style="display: none;">
			<div class="modal-dialog update-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
						<h4 id="myModalLabel" class="modal-title">修改产品信息</h4>
					</div>
					<div class="modal-body" >
						<form name="updateAccredit" ng-submit="updatejuris()" >
							<table cellpadding="0" cellspacing="0" class="update-table">
								<thead>
									<tr >
										<td class="col-md-2">产品ID</td>
										<td class="col-md-6">
											<input type="text" ng-model="accs.id" value="{{accs.id}}" readonly="readonly" class="form-control form-text"/>
										</td>
									</tr>
		
									<tr>
										<td class="col-md-2">产品名称</td>
										<td class="col-md-6">
											<input type="text" ng-model="accs.pname" value="{{accs.ename}}"  class="form-control form-text"/>

										</td>
									</tr>
									<tr>
										<td class="col-md-2">产品分类</td>
										<td class="col-md-6">
											<input type="text" ng-model="accs.pstatic" value="{{accs.pstatic}}"  class="form-control form-text"/>
										</td>
									</tr>
									<tr>
										<td class="col-md-2">产品分类</td>
										<td class="col-md-6">
											<input type="text" ng-model="accs.pmid" value="{{accs.pmid}}"  class="form-control form-text"/>
										</td>
									</tr>
									<tr>
									<td class="col-md-3">是否热门</td>
									<td class="col-md-7" ng-if="accs.hots ==1">
										<select class="form-control form-select"  id="hots">
											<option  value="1" selected="selected">热门产品</option>
											<option  value="2">非热门产品</option>
										</select>
										
									</td>
									<td class="col-md-7" ng-if="accs.hots ==2" >
										<select class="form-control form-select"  id="hots">
											<option  value="1">热门产品</option>
											<option  value="2" selected="selected">非热门产品</option>
										</select>
										
									</td>
								</tr>
								<tr>
								<td class="col-md-12" colspan="2" style="text-align: center;">
											<button class="btn btn-success" type="submit" ng-disabled="updateAccredit.$invalid">修改</button>
									</td>
									</tr>
							</table>
						</form>

					</div>
				</div>
				/.modal-content
			</div>
			/.modal-dialog
		</div>
		</div>
		
		<script type="text/javascript">
			$(".flatpickr").flatpickr();
		</script>