<section class="main_right" >
	<h2>
		<p>修改产品信息</p>
	</h2>
	<div class="add_channel clearfix">
		<form name="addAccredit" ng-submit="updatejuris()"
			ng-controller="accFormController">
			<table class="add_table">
				<tr>
				<tr>
					<td class="col-md-2">所属分类</td>
					<td class="col-md-10">
						<div ng-controller="TestCtrl">
			
							<select class="form-control form-select" ng-change="change(accs.pstatic)" ng-model="accs.pstatic"  ng-options="x.sid as x.series for x in region">
								
							</select>
					</td>
					</div>
				</tr>
				<tr>
					<td class="col-md-2">次级分类</td>
					<td class="col-md-10">
					<select class="form-control form-select"  ng-model="accs.pmid"  ng-options="x.subid as x.subfamily for x in sub">			
					</select>
					</td>
				</tr>
				<tr>
					<td class="col-md-2">电脑端图片路径</td>
					<td class="col-md-7" ng-controller="MyCtrl"><input type="text"
						class="form-control form-text" id="pcimg" ng-model="accs.pimg"  value="{{accs.pimg}}" readonly="readonly" style="float: left">
						<a href="javascript:;" name="file"
						class="btn btn-success upload-box"
						style="float: left; margin-left: 10px;"> <input type="file"
							class="upload-file" ngf-select="uploadpcimg($file,2)" > <span
							ng-hide="pf1.progress >= 0"> 更改 </span> <span
							ng-show="pf1.progress >= 0"> 继续更改 </span>
					</a></td>
				</tr>
				<tr>
				<tr>
					<td class="col-md-3">手机端图片路径</td>
					<td class="col-md-7" ng-controller="MyCtrl">
							<input type="text" ng-model="accs.phimg"  class="form-control form-text"
								id="phimg" value="{{accs.phimg}}"
								readonly="readonly" style="float: left"> <a
								href="javascript:;" name="file"
								class="btn btn-success upload-box"
								style="float: left; margin-left: 10px;"> <input type="file"
								class="upload-file" ngf-select="uploadphimg($file,2)"> <span
								ng-hide="pf2.progress >= 0"> 更改</span> <span
								ng-show="pf2.progress >= 0"> 继续更改 </span>
							</a>
					</td>
				</tr>
			 	<tr>
			<td class="col-md-3">产品图片</td>
				<td class="col-md-7 updataImg clearfix"  >
					<div class="img-area" ng-repeat="ad in deiles"   ng-mouseenter="show = true" ng-mouseleave="show = false">
						<div class="img-box"><img ng-src="{{ad.bigimg}}" alt="" width="100" height="100"/></div>
						<div class="operate" ng-show="show"><span class="btn" ng-click="deldeils(ad.id,ad.pid)">删除</span></div>
					</div>
					<div class="file-area" ng-controller="MyCtrl">
						<div class="add">+</div>
						<input type="file" class="upload-file" id="ads" ngf-select="uploadcsd($file, {{accs.id}})" multiple>
					</div>
				</td>
			</tr> 
				
				<tr>
					<td class="col-md-2">热门产品</td>
					<td class="col-md-10" ng-if="accs.hots ==1">
										<select class="form-control form-select"  id="hots">
											<option  value="1" selected="selected">热门产品</option>
											<option  value="2">非热门产品</option>
										</select>
										
									</td>
									<td class="col-md-10" ng-if="accs.hots ==2" >
										<select class="form-control form-select"  id="hots">
											<option  value="1">热门产品</option>
											<option  value="2" selected="selected">非热门产品</option>
										</select>
										
									</td>
				</tr>
				<tr>
					<td class="col-md-2">产品名称</td>
					<td class="col-md-10"><input type="text"
						class="form-control form-text" placeholder="输入产品名称"
						ng-model="accs.pname" value="{{accs.pname}}" required></td>
				</tr>
				<tr>
					<td class="col-md-2">产品说明</td>
					<td class="col-md-10"><textarea type="text"
							class="form-control form-text" placeholder="产品说明"
							ng-model="accs.pintroduce" value="{{accs.pintroduce}}" required style="width: 725px;" /></td>
				</tr>

				<tr>
					<td class="col-md-2">产品参数</td>
					<td class="col-md-10"> <textarea type="text/plain"  
							id="container2" name="ntext">
							</textarea></td>
				</tr>

				<tr>
					<td class="col-md-2">产品规格</td>
					<td class="col-md-10"> <textarea type="text/plain"  
							id="container3" name="ntext">
							</textarea></td>
				</tr>
<!-- 
				<tr>
					<td class="col-md-2">添加时间</td>
					<td class="col-md-10">
						<div class="accredit-time">
							<input
								class="flatpickr flatpickr-input active form_datetime form-control form-text"
								data-enable-time="true" data-enable-seconds="true"
								placeholder="请选择添加时间" id="startTime1" name="ntime1"
								ng-model="accs.startTime" value="{{accs.startTime| date:'yyyy-MM-dd HH:mm:ss'}}" style="width: 320px;" />
						</div>
					</td>
				</tr> -->
				<tr>
					<td class="col-md-2">产品用途</td>
					<td class="col-md-10"><textarea type="text"
							class="form-control form-text" placeholder="产品用途"
							ng-model="accs.pexplain" value="{{accs.pexplain}}" required style="width: 725px;" /></td>
				</tr>
				<tr>
					<td class="col-md-2">产品详情</td>
					<td class="col-md-10"><textarea type="text/plain"
							id="container1" name="ntext">
							</textarea></td>
				</tr>
			</table>
			<div class="col-md-12 col-md-offset-3">
				<button class="btn btn-success" type="submit">确认更改</button>
				<button class="btn btn-default" >清空</button>
			</div>
	</div>
	</form>
</section>

<script type="text/javascript">
var bgntext=window.localStorage.getItem('bgdeta');
if(bgntext!="undefined"){
document.getElementById("container1").value=bgntext;
}
var canshu=window.localStorage.getItem('canshu');
if(canshu!="undefined"){
document.getElementById("container2").value=canshu;
}
var guige=window.localStorage.getItem('guige');
if(guige!="undefined"){
document.getElementById("container3").value=guige;
}
$(function($rootScope){
	UE.delEditor('container1');
		var ue = UE.getEditor('container1');

		UE.delEditor('container2');
		var ue2 = UE.getEditor('container2');

		UE.delEditor('container3');
		var ue3 = UE.getEditor('container3');
	})
	/* var check_in = document.getElementById("startTime1").flatpickr({
	 }); */
	 
	$(".updataImg .upload-file").hover(function(){
		$(".add").addClass("add-hover");
		},function(){
		$(".add").removeClass("add-hover");
	})
	
	
	function deldeils(a,d){
		 alert(a+","+d);
	 }	 
	 

	
	 
</script>